.reactive-form-container {
	display: grid;
	grid-gap: 1rem;

	.rf-fields-container {
		display: grid;
		grid-gap: 0.5rem;

		// Loop to generate .fr-* classes
		@for $i from 1 through 6 {
			&.fr-#{$i} {
				grid-template-columns: repeat($i, 1fr);
			}
		}

		// Media query for mobile devices
	}
	:not(.not-responsive) > .rf-fields-container {
		@media (max-width: 768px) {
			// 768px is a common breakpoint for mobile devices
			grid-template-columns: 1fr !important;
		}
	}
	// .rf-fields-container:not(:has(&)) {
	// 	grid-template-columns: 1fr !important;
	// }
	// &:not(:has(.rf-fields-container:not(:has(.not-responsive)))) {
	// 	@media (max-width: 768px) {
	// 		// 768px is a common breakpoint for mobile devices
	// 		grid-template-columns: 1fr !important;
	// 	}
	// }
}
