.reactive-form-container {
	display: grid;
	grid-gap: 1rem;
}

.reactive-form-container .rf-fields-container {
	display: grid;
	grid-gap: 0.5rem;
}

.reactive-form-container .rf-fields-container.fr-1 {
	grid-template-columns: repeat(1, 1fr);
}

.reactive-form-container .rf-fields-container.fr-2 {
	grid-template-columns: repeat(2, 1fr);
}

.reactive-form-container .rf-fields-container.fr-3 {
	grid-template-columns: repeat(3, 1fr);
}

.reactive-form-container .rf-fields-container.fr-4 {
	grid-template-columns: repeat(4, 1fr);
}

.reactive-form-container .rf-fields-container.fr-5 {
	grid-template-columns: repeat(5, 1fr);
}

.reactive-form-container .rf-fields-container.fr-6 {
	grid-template-columns: repeat(6, 1fr);
}

.reactive-form-container :not(.not-responsive) > .rf-fields-container {
	@media (max-width: 768px) {
		grid-template-columns: 1fr !important;
	}
}

